<html>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='{{STATIC_URL}}css/screen.css'>
    </head>
    <title> Home Page </title>
    <body>

<div id="panel">
<h3>

Hoy no es tu día de suerte..<br>
<a href='{{pag}}'>{{pag}}</a> <br>

Se ve bien desde acá<br><br>
<h4>
Quieres asegurarte <a href='/'>revisando</a> otra página con nosotros?
</h4>
</h3>
</div>

    </body>
    <footer>
        <p> Accesando el: {{ now }} </p>
      <p>Contacto: <a href="mailto:devlabs-usb@talpor.com">devlabs-usb@talpor.com</a></p>
      <p>Derechos reservados 2013.</p>
    </footer>
</html>
